/*.productRate {*/
/*background: url(../images/empty-star.png);*/
/*width: 150px;*/
/*height: 32px;*/
/*}*/
/*.productRate div {*/
/*background: url(../images/full-star.png);*/
/*width: 0;*/
/*height: 100%;*/
/*}*/

/*ul {*/
/*width: 150px;*/
/*height: 30px;*/
/*position: relative;*/
/*background: url(../images/stars.png);*/
/*}*/
/*li {*/
/*float: left;*/
/*height: 30px;*/
/*}*/
/*li span {*/
/*display: block;*/
/*width: 30px;*/
/*height: 30px;*/
/*text-indent: -9999px;*/
/*position: absolute;*/
/*text-decoration: none;*/
/*z-index: 10;*/
/*cursor: pointer;*/
/*}*/
/*li span:hover {*/
/*background: url(../images/stars.png) left center;*/
/*left: 0;*/
/*z-index: 2;*/
/*}*/
/*span.star1 {*/
/*left: 0;*/
/*}*/
/*span.star1:hover {*/
/*width: 30px;*/
/*}*/
/*span.star2 {*/
/*left: 30px;*/
/*}*/
/*span.star2:hover {*/
/*width: 60px;*/
/*}*/
/*span.star3 {*/
/*left: 60px;*/
/*}*/
/*span.star3:hover {*/
/*width: 90px;*/
/*}*/
/*span.star4 {*/
/*left: 90px;*/
/*}*/
/*span.star4:hover {*/
/*width: 120px;*/
/*}*/
/*span.star5 {*/
/*left: 120px;*/
/*}*/
/*span.star5:hover {*/
/*width: 150px;*/
/*}*/
/*li.current {*/
/*background: url(../images/stars.png) left bottom;*/
/*z-index: 1;*/
/*}*/
/*ul>li span:hover{*/
/*text-indent: 160px;*/
/*}*/




/*#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {*/
/*background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;*/
/*}*/
/*#reviewStars-input {*/
/*/!*fix floating problems*!/*/
/*/!*overflow: hidden;*!/*/
/**zoom: 1;*/
/*/!*end of fix floating problems*!/*/
/*position: relative;*/
/*float: left;*/
/*}*/
/*#reviewStars-input input {*/
/*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
/*opacity: 0;*/
/*width: 43px;*/
/*height: 40px;*/
/*position: absolute;*/
/*top: 0;*/
/*z-index: 0;*/
/*}*/
/*#reviewStars-input input:checked ~ label {*/
/*background-position: 0 -40px;*/
/*height: 40px;*/
/*width: 43px;*/
/*}*/
/*#reviewStars-input label {*/
/*background-position: 0 0;*/
/*height: 40px;*/
/*width: 43px;*/
/*float: right;*/
/*cursor: pointer;*/
/*margin-right: 10px;*/
/*position: relative;*/
/*z-index: 1;*/
/*}*/
/*#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {*/
/*background-position: 0 -40px;*/
/*height: 40px;*/
/*width: 43px;*/
/*}*/
/*#reviewStars-input #star-0 {*/
/*left: 0px;*/
/*}*/
/*#reviewStars-input #star-1 {*/
/*left: 53px;*/
/*}*/
/*#reviewStars-input #star-2 {*/
/*left: 106px;*/
/*}*/
/*#reviewStars-input #star-3 {*/
/*left: 159px;*/
/*}*/
/*#reviewStars-input #star-4 {*/
/*left: 212px;*/
/*}*/
/*#reviewStars-input #star-5 {*/
/*left: 265px;*/
/*}*/
/*#availability-input input:checked ~ label, #availability-input label, #availability-input label:hover, #availability-input label:hover ~ label {*/
/*background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;*/
/*}*/
/*#availability-input {*/
/*/!*fix floating problems*!/*/
/*/!*overflow: hidden;*!/*/
/**zoom: 1;*/
/*/!*end of fix floating problems*!/*/
/*position: relative;*/
/*float: left;*/
/*}*/
/*#availability-input input {*/
/*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
/*opacity: 0;*/
/*width: 43px;*/
/*height: 40px;*/
/*position: absolute;*/
/*top: 0;*/
/*z-index: 0;*/
/*}*/
/*#availability-input input:checked ~ label {*/
/*background-position: 0 -40px;*/
/*height: 40px;*/
/*width: 43px;*/
/*}*/
/*#availability-input label {*/
/*background-position: 0 0;*/
/*height: 40px;*/
/*width: 43px;*/
/*float: right;*/
/*cursor: pointer;*/
/*margin-right: 10px;*/
/*position: relative;*/
/*z-index: 1;*/
/*}*/
/*#availability-input label:hover, #availability-input label:hover ~ label {*/
/*background-position: 0 -40px;*/
/*height: 40px;*/
/*width: 43px;*/
/*}*/
/*#availability-input #star-0 {*/
/*left: 0px;*/
/*}*/
/*#availability-input #star-1 {*/
/*left: 53px;*/
/*}*/
/*#availability-input #star-2 {*/
/*left: 106px;*/
/*}*/
/*#availability-input #star-3 {*/
/*left: 159px;*/
/*}*/
/*#availability-input #star-4 {*/
/*left: 212px;*/
/*}*/
/*#availability-input #star-5 {*/
/*left: 265px;*/
/*}*/

ul.pagination li.selected a
{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}